<div id='main'>
</div>

<div id="modal-content" class="modal fade" tabindex="-1" role="dialog">
    <div id="modal-dialog" class="modal-dialog">
        <div class="modal-content">
            <div id="modal-header" class="modal-header">
                <h3 class='end-points'>You got 0 points!</h3>
            </div>
            <div class="modal-body">
                <!-- <p>
                    <input type="text" id="txtname" />
                    <input type="button" id="modal-button" class='score' value="Insert High Score!">
                </p> -->
            </div>
            <div id='modal-footer' class="modal-footer">
                 <a href="#" id="modal-button" class="btn btn-primary play-again" >Play Again</a>
            </div>
        </div>
    </div>
</div>
