li {
  list-style: none;
}
#modal-dialog {
  width: 400px;
  margin-top: 10%;
  margin-bottom: 10%;
  min-width: 400px;
}

#modal-header{
  border: none;
  color: #b1970a;
  font-weight: 800;
  font-size: 30px;
}

.modal-content {
  text-align: center;
}

#modal-footer {
  text-align: center;
  border: none;
}

#modal-button {
  background-color: #fee970;
  color: #c8ab09;
  border-radius: 4px;
  padding: 20px 60px;
  border: none;
  font-weight: 800;
  font-size: 20px;
}

#modal-button.score {
  padding: 10px 30px;
  font-size: 15px;
}

.name {
  float: left;
}

.highscores {
  float:right;
}

.head {
  font-size: 15px;
  font-weight: 600;
}

#txtname{
  width: 200px;
}
