.stats {
  -webkit-box-align: center;
  display: -webkit-box;
  box-align: center;
  -webkit-box-pack:center;
  transform: translateY(35vh);
  min-width: 800px;
  width: 100%;
  min-width: 800px;
  color: #b1970a;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 450;
}

.pipe {
  padding-left: 15px;
  padding-right: 15px;
}

span.stat{
  color: #b1970a;
  font-weight: 800;
}
