<div class='round'>
  <div class='word group'>
    <div class='scrambled'>
      <% if(words) { %>
        <% words.forEach(function(letter) {%>
          <span class='letter'><%=letter%></span>
        <% }) %>
      <% } %>
    </div>
    <div class='unscrambled'>
    </div>
  </div>

  <div class='stats'>
    <span class='time'>
  </div>
</div>

<div class='footer'>

</div>


<div class='game-end'>

</div>
